[user]
	name = Kyle Fletcher
	email = kyle.fletcher@canada.ca
[push]
	default = matching
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[merge]
	tool = meld
[diff]
	tool = meld
[difftool]
	prompt = no
[core]
	editor = vim
[apply]
	whitespace = fix
[format]
	pretty = format:%C(auto)%h%d (%cd) %s
[log]
	date = format:%a, %d %b %Y %-I:%M%p
